
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar perfil</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/editarPerfil.css">
    <link rel="shortcut icon" href="img/logo.png" type="image/x-icon">

</head>
<body>
    <header>
        <nav>
            <input class="input1" type="checkbox" id="check">
            <label for="check" class="checkbtn">
                <i class="fas fa-bars"></i>
            </label>
            <a href="#" class="enlace">
                <img src="img/logo.png" alt="" class="logo">
            </a>
            <input  class="input1" type="search" id="textoBusqueda" placeholder="Buscar productos...">
            <ul>
                
                <li><a href="#">&#128100  usuario</a></li>
                <li class="icono2"> &#8226 </li>
                
              
            </ul>
        </nav>
        <input class="input1" type="search" id="textoBusqueda" placeholder="Buscar productos, marcas y más..">
    </header>

  
            <div class="formulario-principal">
              <div class="mb-3 row">
                <h1>Edita Perfil :</h1>
                
                <label for="inputPassword" class="col-sm-2 col-form-label">Nombre</label>
                <div class="col-sm-3">
                  <input type="text" class="form-control" id="valor">
                </div>

                <label for="inputPassword" class="col-sm-2 col-form-label"> Apellido</label>
                
                <div class="col-sm-3">
                  <input type="text" class="form-control" id="cod">
                </div>
              </div>
              <div class="mb-3 row">
         
                
                <label for="inputPassword" class="col-sm-2 col-form-label">Corre Electronico</label>
                <div class="col-sm-3">
                  <input type="text" class="form-control" id="valor">
                </div>

                <label for="inputPassword" class="col-sm-2 col-form-label"> Identificacion</label>
                
                <div class="col-sm-3">
                  <input type="text" class="form-control" id="cod">
                </div>
              </div>

              <div class="mb-3 row">
                <h4>Foto de perfil:</h4>
                
                <div class="col-sm-10">
                  <input type=""  class="form-control input11" id="descripcion" placeholder="Haz click para agregar foto de perfil">
                </div>
              </div>

              <div class="mb-3 row">
                <h4>Seleccione tu actividad :</h4>
               
                <div class="col-sm-3">
                    <label><input type="checkbox" id="cbox1" value="first_checkbox">COMPRADOR</label><br>
                </div>

                
                <div class="col-sm-3">
                    <label><input type="checkbox" id="cbox1" value="first_checkbox">VENDEDOR</label><br>
                </div>
              </div>

              <div class="mb-3 row">
                <h1>Completa tu Informacion:</h1>

                <h5>Ubicacion</h5>
                <label for="inputPassword" class="col-sm-2 col-form-label">Departamento</label>
                <div class="col-sm-3">
                  <input type="text" class="form-control" id="valor">
                </div>

                <label for="inputPassword" class="col-sm-2 col-form-label"> Municipio</label>
                
                <div class="col-sm-3">
                  <input type="text" class="form-control" id="cod">
                </div>
              </div>
              <div class="mb-3 row">
         
                <h5>Formas de contacto</h5>
                <label for="inputPassword" class="col-sm-2 col-form-label">Celular</label>
                <div class="col-sm-3">
                  <input type="text" class="form-control" id="valor">
                </div>

                <label for="inputPassword" class="col-sm-2 col-form-label"> Email</label>
                
                <div class="col-sm-3">
                  <input type="text" class="form-control" id="cod">
                </div>
              </div>

              <div class="mb-3 row">
                <label for="inputPassword" class="col-sm-2 col-form-label">Descripción</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="descripcion">
                </div>
              </div>
              </div>



              <div class="mb-3 row">
                <button type="submit" class="btn">Guardar</button>

              </div>
            </div>
        
    </div>






</body>
</html>