<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="shortcut icon" href="img/logo.png" type="image/x-icon">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link rel="stylesheet" href="css/login.css">
 
  <title>login</title>
</head>
<body>
  <header>
    <nav>
        <input class="input-cabeza" type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fas fa-bars"></i>
        </label>
        <a href="#" class="enlace">
            <img src="img/logo.png" alt="" class="logo">
        </a>
        <input class="input-cabeza" type="search" id="textoBusqueda" placeholder="Buscar productos...">
        <ul>
            
            <li><a href="/">Ingresar</a></li>
            <li><a href="#">Registro</a></li>
          
        </ul>
    </nav>
    <input class="input-cabeza" type="search" id="textoBusqueda" placeholder="Buscar productos, marcas y más..">
</header>

    <div class="container">
        <div class="login-container">
            <div class="register">
                <h2>Iniciar Sesión</h2>
                <form action="">
                  <input type="text" placeholder="Usuario" class="nombre">
                  <input type="password" placeholder="Contraseña" class="pass">
                  <select name="" id="" class="select">
                    <option value="selecione">Tipo de Usuario</option>
                    <option value="Vendedor">Vendedor</option>
                    <option value="Comprador">Comprador</option>
                  </select>
                  <a href="/perfilvendedor"><input  type="button" class="submit" value="INGRESAR"></a>
                  
                  <a class="contra" > <h5>Olvido su contraseña?</h5></a>
                </form>
              </div>
          <div class="register">
            <h2>Registrarse</h2>
            <form action="">
          
              <input type="text" placeholder="Nombre" class="nombre">
              <input type="text" placeholder="Correo" class="correo">
              <input type="num" placeholder="Identificacion" class="identificacion">
              <input type="password" placeholder="Contraseña" class="pass">
              <input type="password" placeholder="Confirma contraseña" class="repass">
              <select name="" id="" class="select">
                <option value="selecione">Tipo de Usuario</option>
                <option value="Vendedor">Vendedor</option>
                <option value="Comprador">Comprador</option>
              </select>
              <input type="submit" class="submit" value="REGISTRARSE">
            </form>
          </div>
          
        </div>
      </div>
</body>
</html>






